@import 'semantic-ui';

body > .grid {
  height: 100%;
}

.label {
  text-align: right;
  width: 90px;
}

input[type=submit] {
  background: none;
  border: none;
}

.extra {
  text-align: right;
  font-size: 0.8em;
}

#navbar {
  text-align: right;
  border-radius: 0;
}

#logo {
  font-family: Times, serif;
  color: white;
  ::before {
  }
}

.field_with_errors {
  width: 100%;
  text-area, input {
    border-color: red;
  }
}
